//- Variables de documento

- var website = "Melp"
- var date = new Date();
- var cache = date.getTime();
- var js = "js/bundle.js?cache="+cache;
- var css = "css/bundle.css?cache="+cache;

//- Documento

doctype html
html(lang="en")
	head
		title=website
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href=css)
		script(src=js)
	body
		div
		//Comienzo del sitio web
		main.row
			//Logo y menú
			header.row.expanded
					//Navegación 
					nav.row.expanded
						//Contenido
						section.row.expanded#webApp
							
			//Pie de página
			footer.expanded


