- var website = "Melp"

doctype html
html(lang="en")
	head
		title=website
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/bundle.css")
		script(src="js/bundle.js")
	body
		//Comienzo del sitio web
		main.row
			//Logo y menú
			header.row.expanded
					//Navegación 
					nav.row.expanded
						//Contenido
						section.row.expanded
							img(src="img/logotipo.svg" width="200px")
			//Pie de página
			footer.expanded


