@charset "UTF-8";
/*----------  Importar archivos externos  ----------*/
/*----------  Colores  ----------*/
/*----------  Medida de partículas  ----------*/
/*----------  Particulas del logotipo  ----------*/
@-webkit-keyframes particula1 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(50px, 50px);
            transform: rotate(-360deg) translate(50px, 50px); } }
@keyframes particula1 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(50px, 50px);
            transform: rotate(-360deg) translate(50px, 50px); } }

@-webkit-keyframes particula2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(-50px, -50px);
            transform: rotate(-360deg) translate(-50px, -50px); } }

@keyframes particula2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(-50px, -50px);
            transform: rotate(-360deg) translate(-50px, -50px); } }

@-webkit-keyframes particula3 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(-70px, -70px);
            transform: rotate(-360deg) translate(-70px, -70px); } }

@keyframes particula3 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px); }
  100% {
    -webkit-transform: rotate(-360deg) translate(-70px, -70px);
            transform: rotate(-360deg) translate(-70px, -70px); } }

@-webkit-keyframes entrar {
  0% {
    -webkit-transform: translate(0px, 50px) scale(1.5);
            transform: translate(0px, 50px) scale(1.5);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1); } }

@keyframes entrar {
  0% {
    -webkit-transform: translate(0px, 50px) scale(1.5);
            transform: translate(0px, 50px) scale(1.5);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1); } }

/*----------  Fondo SVG  ----------*/
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

/*----------  Configuración global  ----------*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px; }

body {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px; }

#logotipo {
  width: 200px;
  margin: 40px auto !important;
  display: block !important;
  position: relative; }

#imagen-logo {
  position: relative;
  z-index: 3309; }

#imgLogo {
  -webkit-animation: entrar 2s ease-in-out;
          animation: entrar 2s ease-in-out; }

/*----------  Partículas  ----------*/
.particula {
  position: absolute; }

.particula1 {
  width: 0.6em;
  height: 0.6em;
  left: 60%;
  top: 30%;
  z-index: 3301;
  background-color: #066C62;
  -webkit-animation: particula1 1.5s ease-in-out infinite alternate;
          animation: particula1 1.5s ease-in-out infinite alternate;
  border-radius: 50%; }

.particula2 {
  width: 0.6em;
  height: 0.6em;
  left: 60%;
  top: 30%;
  z-index: 3300;
  background-color: #00A69C;
  -webkit-animation: particula2 2s ease-in-out infinite alternate;
          animation: particula2 2s ease-in-out infinite alternate;
  border-radius: 50%;
  -webkit-filter: blur(3px);
          filter: blur(3px); }

.particula3 {
  width: 1em;
  height: 1em;
  left: 40%;
  top: 30%;
  z-index: 3300;
  background-color: #00A69C;
  -webkit-animation: particula2 4s ease-in-out infinite alternate;
          animation: particula2 4s ease-in-out infinite alternate;
  border-radius: 50%; }

.particula4 {
  width: 0.6em;
  height: 0.6em;
  left: 50%;
  top: 30%;
  z-index: 3300;
  background-color: #00A69C;
  -webkit-animation: particula3 3s ease-in-out infinite alternate;
          animation: particula3 3s ease-in-out infinite alternate;
  border-radius: 50%;
  -webkit-filter: blur(3px);
          filter: blur(3px); }

/*----------  s  ----------*/
/*----------  M  ----------*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .contenido-ficha {
    min-height: 470px; } }

/*----------  XL  ----------*/
/*----------  XXL  ----------*/
/*----------  Animaciones  ----------*/
.contSvg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

.svgAbsolute {
  width: 100%;
  position: absolute;
  top: -40px; }

.scrollme {
  width: 200px;
  height: 600px;
  background-color: red; }

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 2s ease-in-out forwards;
          animation: dash 2s ease-in-out forwards;
  stroke: rgba(0, 0, 0, 0.04); }

.path2 {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 2s .2s ease-in-out forwards;
          animation: dash 2s .2s ease-in-out forwards;
  stroke: rgba(0, 0, 0, 0.04); }

#organic-blob {
  display: block !important;
  margin: 0px auto !important; }

.disable {
  pointer-events: none;
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
#fichas{
	display:relative;
	z-index: 100;
}


.nombre{
	font-size: 2.5em;
	background-color:rgba(0,0,0,.2);
	font-family: 'Catamaran', sans-serif !important;
	font-weight: 200;
	padding:20px;
}
.rating{
		opacity: .4;
		padding:20px;
		text-align: right;
}
*/
.espaciado :hover {
  background-color: white;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.espaciado :hover .fakeimg {
  border: 20px solid rgba(0, 0, 0, 0.04);
  -webkit-filter: brightness(3);
          filter: brightness(3); }

.contenido-ficha {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-bottom: 2em solid rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1); }
  .contenido-ficha .fakeimg {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 0px solid rgba(0, 0, 0, 0.04);
    width: 100%; }
  .contenido-ficha h1 {
    font-size: 2em;
    padding-top: 40px;
    color: #073f88; }
  .contenido-ficha h2 {
    font-size: 1.4em; }
  .contenido-ficha .iconos-contacto {
    text-align: right !important;
    background-image: url(../img/detalle.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%; }
  .contenido-ficha .iconos-contacto i {
    padding-right: 10px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em !important;
    color: rgba(0, 0, 0, 0.4); }

.map {
  width: 80px;
  height: 80px;
  background-color: red; }

.informacionFicha {
  position: relative;
  color: #524677 !important;
  padding-left: 20px; }

.mapaPreview {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -80px;
  right: 10px; }

.rating {
  display: block !important; }

.star1 {
  color: #d054f2 !important; }

.star2 {
  color: #d054f2 !important; }

.star3 {
  color: #d054f2 !important; }

.star4 {
  color: #d054f2 !important; }

.star5 {
  color: #d054f2 !important; }
